@import "theme";

// Global styles
html, body, app-root {
  display: inline-block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: $primary;
  color: $text;
}