@import "src/styles/theme";

// Banner
.banner {
  display: block;
  margin-inline: auto;
  width: 90%;
  margin-top: 20px;
  height: 250px;
  background: url("/assets/images/banner.png") center/cover no-repeat;
  border-radius: 10px;

  .banner-text {
    top: 15%;
    left: 0;
    right: 0;
    
    p {
      font-size: 12px;
      line-height: 0.1;
    }
    
    b {
      font-size: 32px;
      line-height: 1.2;
    }
  }
}

// Balance Section
.balance-section {
  margin-top: 35px;
  width: 80%;
  gap: 20px;

  .balance-avatar {
    width: 100px;
    height: 100px;
  }

  .balance-text {
    width: 450px;
    margin-top: 14px;
  }

  .balance-card {
    width: 210px;
    background-color: $component;
    border: 1px solid $border;
    border-radius: 15px;
    box-shadow: 0px 8px 15px black;
    padding: 15px;

    .balance-card-title {
      width: 50px;
      height: 50px;
      object-fit: contain;
    }

    .balance-card-value {
      b {
        font-size: 32px;
      }
    }
  }
}

.input {
  padding: 8px;
  border: 0px;
  background-color: black;
  border-radius: 5px;
  transition: none;

  &:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid $border;
  }
}

.button {
  font-size: small;
  padding: 8px;
}

// Input Section
.finance-section {
  width: 80%;
  gap: 20px;
  
  .finance-card {
    max-width: 448px;
    height: 380px;
    background-color: $component;
    border: 1px solid $border;
    border-radius: 15px;
    box-shadow: 0px 8px 15px black;
    padding: 15px;
  }

  .input-group {
    p {
      font-size: 14px;
    }

    input {
      @extend .input;
      width: 180px;
    }

    button {
      @extend .button;
      width: 180px;
    }
  }

  .expiration-text {
    font-size: 12px;
    margin-top: 25px;
    color: $text;
  }

  .qr-container {
    img {
      width: 120px;
      height: 120px;
      background-color: black;
      padding: 10px;
      border-radius: 10px;
    }

    button {
      @extend .button;
      width: 120px;
    }
  }

  input, select {
    @extend .input;
  }

  button {
    @extend .button;
    width: 100%;
  }

  input[type="number"] {
    -webkit-appearance: none; 
    -moz-appearance: textfield;
    appearance: textfield;
  
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}