<!-- Banner with text -->
<div class="banner">
  <span class="banner-text text-center position-absolute">
    <p>ESSA É A SUA ÁREA DE FINANÇAS.</p>
    <b>DEPOSITE, RESGATE</b><br />
    <b>E VEJA SEU HISTÓRICO DE TRANSAÇÕES</b>
  </span>
</div>

<!-- Avatar & Balance cards section -->
<section class="balance-section d-flex align-items-center mx-auto">
  <!-- Avatar e Texto -->
  <img src="assets/images/user.png" alt="User avatar" class="balance-avatar" />
  <div class="balance-text">
    <h4><b>Deposite ou solicite seu resgate 📈</b></h4>
    <p>
      <i>
        Os resgates demoram até 48h úteis para serem aprovados. Membro desde
        2022.
      </i>
    </p>
  </div>

  <!-- Cards -->
  <div class="d-flex ms-auto gap-3">
    <!-- Card 1 -->
    <div class="card balance-card text-center">
      <div class="card-body">
        <img
          src="assets/images/money.png"
          alt="Money"
          class="card-title balance-card-title"
        />
        <h6 class="card-subtitle mt-1"><b>SALDO</b></h6>
        <hr />
        <span class="balance-card-value">
          R$ <b style="color: #acff2fe5">15,00</b> reais
        </span>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="card balance-card text-center">
      <div class="card-body">
        <img
          src="assets/images/coin.png"
          alt="Coin"
          class="card-title balance-card-title"
        />
        <h6 class="card-subtitle mt-1"><b>TRADECOINS</b></h6>
        <hr />
        <span class="balance-card-value">
          T$ <b class="text-warning">1.257</b> mil
        </span>
      </div>
    </div>
  </div>
</section>
